body{
    padding-top: 20px;
    background-color: #FFF5E4;
}

h1{
    text-align: center;
    font-family: impact;
    font-size: 80px;
    color: #7A4069;
    -webkit-text-stroke: 1px #CA4E79 ;
}

h2{
    text-align: center;
    font-family: impact;
    font-size: 40px;
    color: #C9BBCF;
}